
# Backend
/target
*.log

# Frontend (React + Vite)
/React/node_modules
/React/dist
/React/build

/vite-project/node_modules
/vite-project/dist

# IDE Files
/.idea
/.vscode
*.iml

# OS files
.DS_Store
